<!-- edit.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://kit.fontawesome.com/6dfa326e23.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Edit/formulario.css') }}">
    <title>Formulario de Inscripción</title>
</head>
<body>
    <nav class="menu">
        <!-- Navegador Escritorio -->
        <ul class="ClassUl desktop-nav">
            <li class="ClassLi"><a class="ClassA" href="/">Home</a></li>
            <li class="ClassLi"><a class="ClassA" href="/shop.html">Market</a></li>
            <li class="ClassLi"><a class="ClassA" href="/formularioInscripcion.html">Registrarme</a></li>
            <li class="ClassLi"><a class="ClassA" href="/login.html">Ingresar</a></li>   
        </ul>
      </nav>

<main>
    <section class="formularioingreso">
        <div class="box">
        <form method="post" action="/update" id="validacion" enctype="multipart/form-data">
            <input type="text" value="{{usuario[0]}}" name="txtId" id="txtId"><br>
            
            <label for="nombre" class="nombre">Nombre:</label><br>
            <input type="text" value="{{ usuario[1] }}" id="nombre" name="nombre"><br>
            <br>
            <label for="Usuario" class="Usuario">Usuario:</label><br>
            <input type="text" id="Usuario" value="{{ usuario[2] }}" name="Usuario"><br>
            <br>
            <label for="email" class="email">Mail:</label><br>
            <input type="text" id="email" value="{{ usuario[3] }}" name="email"><br>
            <br>
            <label for="contraseña" class="contraseña">Contraseña:</label><br>
            <input type="text" id="contraseña" value="{{ usuario[4] }}" name="contraseña"><br>
            <br><br>
            <button type="submit" class="boton">Enviar</button>
        </form>
        </div>
    </section>
</main>

<footer>
    <div class="ubicacion">
    <span>
        Sede Social . Ciudad Autonoma de Buenos Aires:
        <br />
        <a class="preview-link" href="https://www.google.com.ar/maps/place/Asociaci%C3%B3n+del+F%C3%BAtbol+Argentino/@-34.6006301,-58.3888733,17z/data=!3m1!4b1!4m6!3m5!1s0x95bccac708c492db:0xd382ce07c0e451c0!8m2!3d-34.6006345!4d-58.3862984!16s%2Fg%2F11b6htpp7t?entry=ttu" target="_blank" data-url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.1396493533803!2d-58.38887332339245!3d-34.60063005733679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac708c492db%3A0xd382ce07c0e451c0!2sAsociaci%C3%B3n+del+Fútbol+Argentino!5e0!3m2!1ses-419!2sar!4v1713807970737!5m2!1ses-419!2sar"><i class="fa-solid fa-location-dot" style="color: white !important"></i></a>
        Viamonte 1366/76 (C1053ACB) Bs.As
        <div id="iframe-preview" style="display: none"></div>
        <br />
        <i class="fa-solid fa-phone"></i> 4370-7900
        <br />
        <i class="fa-regular fa-envelope"></i> selecciones@afa.org.ar
    </span>
    </div>
    <div class="iconos">
    <a href="https://www.instagram.com/afaseleccion/?hl=es-la" target="_blank"><i class="fa-brands fa-instagram icono_item"></i></a>
    <a href="https://twitter.com/Argentina?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%7Eauthor" target="_blank"><i class="fa-brands fa-x-twitter icono_item"></i></a>
    <a href="https://www.facebook.com/AFASeleccionArgentina/?locale=es_LA" target="_blank"><i class="icono_item fa-brands fa-facebook"></i></a>
    </div>
</footer>

<script src="{{url_for('static', filename='js/Edit/formularioInscripcion.js')}}"></script>
</body>
</html>
