<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Proyecto Final Pruebas/stylelogin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>
<body>
    <nav class="menu">
        <ul class="ClassUl">
            <li class="ClassLi"><a class="ClassA" href="default.asp">Home</a></li>
                <li class="ClassLi"><a class="ClassA" href="news.asp">Market</a></li>
            <li class="ClassLi">
            <a class="ClassA" href="contact.asp">Contact</a>
            </li>
            <li class="ClassLi"><a class="ClassA" href="about.asp">About</a></li>
        </ul>
    </nav>
